<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
  <center>
    <h2>Login</h2>
    <form method="POST" action="/login">
      <label>Username:</label><br>
      <input type="text" name="username" required><br>
      <label>Password:</label><br>
      <input type="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
    <a href="/register">Don't have an account? Register</a>
  </center>
</body>
</html>
